importFrom("httr", "GET", "POST", "content", "add_headers", "verbose", "config")
importFrom("jsonlite", "fromJSON")
importFrom("Hmisc", "cut2")
importFrom("plyr", "rbind.fill")
importFrom("GenomeInfoDb", "seqlevelsStyle", "seqnames")
import("S4Vectors")
import("VariantAnnotation")
import("magrittr")
exportClasses("MyVariant")
export("MyVariant")
export("getVariant")
export("getVariants")
export("queryVariant")
export("queryVariants")
export("formatHgvs")
export("formatSingleHgvs")
exportMethods("metadata")
