importFrom("httr", "GET", "POST", "content", "add_headers", "verbose")
importFrom("jsonlite", "fromJSON")
importFrom("Hmisc", "cut2")
import("S4Vectors")
import("IRanges")
import("magrittr")
exportClasses("MyVariant")
export("MyVariant")
export("getVariant")
export("getVariants")
export("queryVariant")
export("queryVariants")
exportMethods("metadata")
export("getAll")
export("getSnps")
export("getDels")
export("getIns")
#export("getIndels")
export("getVcf")
